body {
  background-color: #5cdb95;
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.aboutDiv{
  display: flex;
  height: 10%;
}

.container1{
  width: 50%;
}

.imageSteven{
  height: 200px;
  width:fit-content
}

footer {
  background-color: #379683;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 2%
}

.HotOrNot{
  border: solid;
  border-color: red;
}

/* a:visited {
  text-decoration: none;
  color: black;
} */

svg:visited{
  text-decoration: none;
}

nav {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  background-color: #379683
}

a {
  width: 3%;
}

p {
  color: #edf5e1
}

nav a {
  text-decoration: none;
  margin-right: 2%;
  color: #05386b
}


